services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./data:/data
    environment:
      DATABASE_URL: sqlite:////data/database.db
    command: uvicorn app.main:app --reload --host 0.0.0.0 --workers 1
