services:
  db:
    image: postgres:16
    container_name: postgres_almox
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          cpus: '1.0' 
          memory: 0.5G 

  api:
    build: .
    container_name: fastapi_almox
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 1
    volumes:
      - ./app:/app/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 0.5G

volumes:
  pgdata:
